.courseContainer{
    
    width: 100vw;

    
}
.child{
    margin:0 auto;
    
}
@media screen and (max-width:680px){
    .courseContainer{
        display:flex;

    }
    .child{
        width:60vw;
        
    }

}