@import url('https://fonts.googleapis.com/css?family=Poppins');
/* .roleContainer{
    margin: 25px 25px 25px 140px;
    width: 80vw;

    
}    */
.child{
    margin:0 auto;
    
}

h1{
    text-align: center;
    font-family: 'Poppins', cursive;
    text-decoration: underline;
    text-underline-offset: 15px;
}

.skillName{
    text-align: center;
    font-family: 'Poppins', cursive;
    text-decoration: underline;
    text-underline-offset: 15px;
    margin-bottom: 30px;
}

.box{
    border-radius: 25px;
    padding-top: 3%;
    padding-bottom: 3%;
    margin: 5%;
    background-color: bisque;
}

Button{
    margin: 10px;
}