input[type=checkbox] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}
/* label {
    display: block;
    background-color: beige;
    border: black solid 1px;
    padding-top: 10px;
} */

.selectedskills {
    padding: 20px;
}

Button {
    background-color: yellowgreen
}
