@import url('https://fonts.googleapis.com/css?family=Poppins');

.child{
    margin:0 auto;
    
}

h1{
    margin-top: 25px;
    text-align: center;
    font-family: 'Poppins', cursive;
    text-decoration: underline;
    text-underline-offset: 15px;
}

.create{
    margin-top: 5%;
    margin-left: 10%;
}

.alert{
    max-width: 80vw;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
}