@import url('https://fonts.googleapis.com/css?family=Poppins');
.courseContainer{
    margin: 25px 25px 25px 140px;
    width: 80vw;

    
}

.child{
    margin:0 auto;
    
}

h1{
    text-align: center;
    font-family: 'Poppins', cursive;
    text-decoration: underline;
    text-underline-offset: 15px;
}

.create{
    margin-top: 5%;
    margin-left: 10%;
}